{%  extends "front-office.html.twig" %}
{% block links %}
    <title>TheTakeaway</title>
{% endblock %}
{% block contenu %}
    <section>
            <div class="error-page-wrapper text-center" style="height: 500px">
                <div style="background-image: url({{ asset("assets/front-office/images/topbg.jpg") }});" class="fit-bg"></div>

                <h1 style="color: whitesmoke;font-size: 80px">Bienvenue</h1>
                <img src="{{ asset('/assets/front-office/images/logo2.png') }}">
            </div><!-- Error Page Wrapper -->
    </section>

{%  endblock %}