{%  extends "front-office.html.twig" %}
{% block links %}
    <title>TheTakeaway</title>
{% endblock %}
{% block contenu %}
    <section>
        <div class="block">
            <div class="error-page-wrapper text-center mt-5">
                <div style="background-image: url({{ asset("assets/front-office/images/topbg.jpg") }});" class="fixed-bg"></div>

                <h1 style="color: whitesmoke">Bienvenue</h1>
            </div><!-- Error Page Wrapper -->
        </div>
    </section>

{%  endblock %}