{%  extends "front-office.html.twig" %}

{% block links %}
<title>
    {{ res.nom  }} Menu
</title>
{% endblock %}


{% block contenu %}

    <h3>Cliquer sur les éléments pour les ajouter</h3>

    <form action="post" method="">
        {% for p in eles %}
           <p> <input type="checkbox" name="{{ p.id }}" value="{{ p.id }}" > {{ p.element.nom }}</p>
        {% endfor %}
        <button type="submit" class="btn btn-primary"> Suivant</button>
    </form>



{% endblock %}