{% extends 'back-office.html.twig' %}


{% block links %} <title>Restaurants</title>{% endblock %}


{% block contenu %}



{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn_1 gray approve">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


{% endblock %}