{% extends 'front-office.html.twig' %}
{% block contenu %}

    <!DOCTYPE html>
    <html lang="en">


    <body itemscope>
    <main>


        <section>
            <div class="block">
                <div class="fixed-bg" style="background-image: url(assets/front-office/images/topbg.jpg);"></div>
                <div class="page-title-wrapper text-center">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="page-title-inner">
                            <h1 itemprop="headline">Promotion</h1>
                            <span>A Greate Discount For You </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="bread-crumbs-wrapper">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" title="" itemprop="url">Home</a></li>
                    <li class="breadcrumb-item active">Promotion </li>
                </ol>
            </div>
        </div>

        <section>
            <div class="block less-spacing grayish opc98">
                <div class="fixed-bg" style="background-image: url(assets/images/parallax4.jpg);"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            {% for promotion in promotions %}
                            <div class="food-featured-post">
                                <div class="food-featured-post-thumb wow fadeIn" data-wow-delay="0.2s">
                                    <a href="#" title="" itemprop="url"><img src="{{ asset('couvertures/'~ promotion.element.image ) }}" alt="featured-post-img.jpg" itemprop="image" style="height: 513px;width: 398px"></a>
                                </div>
                                <div class="food-featured-post-info wow fadeIn" data-wow-delay="0.2s">
                                    <h3 itemprop="headline"><a href="#" title="" itemprop="url">{{ promotion.element.nom }}</a></h3>
                                    <p itemprop="description">{{ promotion.element.description }}</p>
                                    <h1 itemprop="description">{{ promotion.prixpromo }}$</h1>
                                    <a class="brd-rd30 red-bg" href="#" title="" itemprop="url"><i class="fa fa-angle-double-right"></i> Order Online</a>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="featured-restaurant-food text-center">
                                <div class="title2-wrapper text-center">
                                    <h3 class="sudo-bottom sudo-width45 sudo-bg-yellow" itemprop="headline">Featured Restaurants Food</h3>
                                </div>
                                <div class="featured-restaurant-food-thumb">
                                    <ul class="featured-restaurant-food-img-carousel">
                                        <li><img src="assets/front-office/images/resource/featured-restaurant-food-img1.jpg" alt="featured-restaurant-food-img1.jpg" itemprop="url"> <a class="brd-rd50 vimeo" data-fancybox href="https://vimeo.com/49674259" title="Click To play" itemprop="url"><i class="fa fa-vimeo"></i></a></li>
                                        <li><img src="assets/front-office/images/resource/featured-restaurant-food-img2.jpg" alt="featured-restaurant-food-img2.jpg" itemprop="url"> <a class="brd-rd50 youtube" data-fancybox href="https://youtu.be/gKCdJSY3n38" title="Click To play" itemprop="url"><i class="fa fa-youtube-play"></i></a></li>
                                        <li><img src="assets/front-office/images/resource/featured-restaurant-food-img3.jpg" alt="featured-restaurant-food-img3.jpg" itemprop="url"></li>
                                        <li><img src="assets/front-office/images/resource/featured-restaurant-food-img4.jpg" alt="featured-restaurant-food-img4.jpg" itemprop="url"></li>
                                        <li><img src="assets/front-office/images/resource/featured-restaurant-food-img5.jpg" alt="featured-restaurant-food-img5.jpg" itemprop="url"></li>
                                        <li><img src="assets/front-office/images/resource/featured-restaurant-food-img6.jpg" alt="featured-restaurant-food-img6.jpg" itemprop="url"></li>
                                    </ul>
                                    <ul class="featured-restaurant-food-thumb-carousel">
                                        <li><img class="brd-rd3" src="assets/front-office/images/resource/featured-restaurant-food-thumb-img1.jpg" alt="featured-restaurant-food-thumb-img1.jpg" itemprop="image"></li>
                                        <li><img class="brd-rd3" src="assets/front-office/images/resource/featured-restaurant-food-thumb-img2.jpg" alt="featured-restaurant-food-thumb-img2.jpg" itemprop="image"></li>
                                        <li><img class="brd-rd3" src="assets/front-office/images/resource/featured-restaurant-food-thumb-img3.jpg" alt="featured-restaurant-food-thumb-img3.jpg" itemprop="image"></li>
                                        <li><img class="brd-rd3" src="assets/front-office/images/resource/featured-restaurant-food-thumb-img4.jpg" alt="featured-restaurant-food-thumb-img4.jpg" itemprop="image"></li>
                                        <li><img class="brd-rd3" src="assets/front-office/images/resource/featured-restaurant-food-thumb-img5.jpg" alt="featured-restaurant-food-thumb-img5.jpg" itemprop="image"></li>
                                        <li><img class="brd-rd3" src="assets/front-office/images/resource/featured-restaurant-food-thumb-img6.jpg" alt="featured-restaurant-food-thumb-img6.jpg" itemprop="image"></li>
                                    </ul>
                                </div>
                                <div class="featured-restaurant-food-info">
                                    <p itemprop="description" class="text-danger"> <i class="fa fa-heart-o">WE LOVE YOU </i>  </p>
                                    <a class="brd-rd30 red-bg" href="#" title="" itemprop="url"><i class="fa fa-angle-double-right"></i> About us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main><!-- Main Wrapper -->

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
    </body>

    </html>


{% endblock %}