{% extends 'back-office.html.twig' %}

{% block title %}ElementDetails index{% endblock %}

{% block contenu %}
    <h1>ElementDetails index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>Options</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for element_detail in element_details %}
            <tr>
                <td>{{ element_detail.id }}</td>
                <td>{{ element_detail.quantite }}</td>
                <td>{{ element_detail.options }}</td>
                <td>
                    <button class="btn btn-primary" href="{{ path('element_details_edit', {'id': element_detail.id}) }}">edit</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no Elements found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
