
{#  {% extends 'base.html.twig' %}

{% block title %}New ElementDetails{% endblock %}

{% block body %}
    <h1>Create new ElementDetails</h1>

    {{ include('element_details/_form.html.twig') }}

    <a href="{{ path('element_details_index') }}">back to list</a>
{% endblock %}#}