{%  extends "front-office.html.twig" %}
{% block links %}
    <title>Error 404</title>
{% endblock %}
{% block contenu %}
    <section>
        <div class="block">
            <div class=" text-center">
                <div style="background-image: url({{ asset("assets/front-office/images/topbg.jpg") }});" class="fit-bg"></div>
                    <h1 style="color:white;font-size: 48px" >404 <span class="red-clr">Error</span></h1>
                    <h4 style="color:white;font-size: 38px" ><span class="yellow-clr">Oops,</span> This Page Not Found!</h4>
            </div><!-- Error Page Wrapper -->
        </div>
    </section>

{%  endblock %}