{% extends "back-office.html.twig" %}

{% block links %}
    <title>Choisir un Restaurant</title>
{% endblock %}
{% block contenu %}
    <div class="card mb-3" >
        <div class="card-header" style="font-size: 22px;font-weight: bold">
            Choisissez Un Restaurant
        </div>
        <div class="card-body">
            {% for x in res %}
                <a href="/admin/factures/add/{{ idf }}/{{ x.id }}"><button type="button" class="btn btn-secondary btn-lg btn-block">{{ x.nom }}</button></a>
                <br>
            {% endfor %}

        </div>
    </div>
{% endblock %}